@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

/* Basic body and text styling */
body {
  width: 100%;
  font-family: "Inter";
  color: #ffffff;
  background-color: black;
}
/* Header styling */
.header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

/* Navigation styling */
nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav .logo {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
}

nav ul {
  display: flex;
  gap: 67px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 0.75rem 0.2rem;
}

nav ul li a {
  font-size: 1.15rem;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #e6533c;
  border-radius: 46px;
}

/* Hero section styling */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ff0000;
  width: 90%;
  margin: 0 auto;
}

.hero-text {
  width: 520px;
}

.hero-section .hero-text h1 {
  font-size: 4.875rem;
  font-weight: 900;
}

.hero-section .hero-text span {
  font-family: "Miama";
  font-size: 4.875rem;
  font-weight: 400;
}

.hero-section .hero-text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem auto;
  margin-bottom: 2rem;
}

.hero-section .btn-primary {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: 1px solid #ff0000;
  border-radius: 42px;
}

.btn-secondary {
  padding: 10px 20px;
  margin-right: 10px;
  color: #ffffff;
  border: 1px solid;
  border-radius: 42px;
}

.hero-section .hero-image img {
  max-width: 100%;
  height: auto;
}

/* Section 1 Change Habit styling */
.change-habits {
  background-color: black;
  color: white;
  padding: 50px 0;
  margin-bottom: 100px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

.container h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.container p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 40px;
}

.habits-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.habit-card {
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.habit-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.habit-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.habit-card p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Section 2 Running styling */
.extra-mile {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  background-color: black;
  color: #ffffff;
  margin-bottom: 100px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}

.extra-mile-container {
  margin: 40px 0px 40px 0px;
}
.extra-mile h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
}

.extra-mile p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  max-width: 400px;
  text-align: left;
}

.extra-mile .btn-primary {
  width: 45%;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: 1px solid #ff0000;
  border-radius: 42px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.extra-mile-image {
  width: 400px;
  height: 300px;
  border-radius: 5px;
}

.extra-mile-image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
  margin-left: 8rem;
}

/* Section 3 Training styling */
.trainings {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.trainings img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(60%);
}
.training-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.training-content {
  max-width: 573px;
}
.training-content h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
}
.training-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}

.row-1,
.row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.row-1 {
  grid-template-columns: 1fr, 2fr, 1fr;
}
.row-2 {
  grid-template-columns: 1.5fr, 1fr, 1.5fr;
}

.training-card-1 {
  position: relative;
}

.training-card-1 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-300%, 320%);
  font-size: 1.2rem;
  color: #ffffff;
}
.training-card-2 {
  position: relative;
}
.training-card-2 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-300%, -400%);
  font-size: 1.2rem; 
  color: #ffffff;
}
.training-card-3 {
  position: relative;
}
.training-card-3 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-350%, 300%);
  font-size: 1.2rem; 
  color: #ffffff;
}
.training-card-4 {
  position: relative;
}
.training-card-4 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(200%, -350%);
  font-size: 1.2rem;
  color: #ffffff;
}
.training-card-5 {
  position: relative;
}
.training-card-5 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-350%, 300%);
  font-size: 1.2rem;
  color: #ffffff;
}
.training-card-6 {
  position: relative;
}
.training-card-6 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-280%, 280%);
  font-size: 1.2rem;
  color: #ffffff;
}

/* BMI Calculator Section Styles */
.bmi-calculator {
  width: 100%;
}
.bmi-container {
  background: rgb(34, 34, 34);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 52px 187px;
  text-align: center;
}

.bmi-head {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 88px;
}
.bmi-head h2 {
  text-align: left;
  font-size: 48px;
  font-weight: 900;
}
.bmi-head p {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

h3 {
  margin-top: 0;
}

p {
  color: #a0a0a0;
  font-size: 16px;
  margin-bottom: 20px;
}

.bmi-calculator-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  width: 90%;
  margin: 0 auto;
}

/* BMI Chart Styling */
.bmi-chart {
  width: 35%;
  padding: 20px;
  border-radius: 10px;
}
.bmi-chart h3 {
  font-size: 28px;
  font-weight: 900;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th {
  padding: 10px 20px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
td {
  padding: 10px 20px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

/* BMI Form Styling */
.bmi-form-container {
  width: 45%;
}

.bmi-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 10px;
}
.form-alignment {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
}

.bmi-form-container h3 {
  font-size: 28px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 14px;
}

.bmi-form-container p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  text-align: left;
  margin-bottom: 34px;
}

.Select-activity {
  width: 100%;
  grid-column: span 2;
}

input[type="number"],
select {
  color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border: 1px solid #383838;
  border-radius: 5px;
  background-color: #383838;
  font-size: 16px;
  font-weight: 400;
}

input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: #ff5722;
}

.btn {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: #fff;
  border: none;
  padding: 16px 40px;
  margin-top: 34px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f44336;
}

/* Team Section Styles */
.team {
  padding: 80px 0;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  gap: 30px;
  margin-top: 30px;
  align-items: center;
  text-align: center;
}

.team-member {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.team-member img {
  width: 90%;
  height: 350px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 15px;
}

/* Testimonial Styling */
.testimonials-section {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}

.testimonials-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.testimonial {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial p {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial h3 {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

.testimonial:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}



/* Footer styling */
footer {
  padding: 66px 0px 10px 0px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-section {
  width: 35%;
  text-align: left;
  padding-right: 20px;
}

.logo-section h3 {
  color: rgb(230, 83, 60);
  font-size: 4.37rem;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 20px;
}

.logo-section p {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.footer-links h4 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.footer-links ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #ff0000;
}

footer hr {
  border: none;
  height: 1px;
  width: 90%;
  margin: 0 auto;
  background: #444444;
  margin-top: 79px;
  margin-bottom: 36px;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
}

/* Media queries for responsiveness */

/* Small devices (up to 576px) */
@media (max-width: 576px) {
  .footer-container {
    margin: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .logo-section,
  .footer-links {
    width: 100%;
    text-align: left;
    margin: 0 0 2rem 0;
  }

  .logo-section h3 {
    font-size: 2.5rem;
  }

  .footer-links h4 {
    font-size: 1.5rem;
  }

  .footer-ul {
    font-size: 1rem;
  }
}
