@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}

/* Basic body and text styling */
body {
  width: 100%;
  font-family: "Inter";
  color: #ffffff;
  background-color: black;
}
/* Header styling */
.header {
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0.025) 100%
  );
}

/* Navigation styling */
nav {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.mobile-menu {
  display: none;
}
nav .logo {
  color: rgb(230, 83, 60);
  font-size: 36px;
  font-weight: 800;
  font-style: italic;
}

nav ul {
  display: flex;
  gap: 67px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 0.75rem 0.2rem;
}

nav ul li a {
  font-size: 1.15rem;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #e6533c;
  border-radius: 46px;
}

/* Hero section styling */

.hero-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  color: #ffffff;
}

.hero-text {
  width: 40%;
  padding-right: 50px;
}

.hero-text h1 {
  font-size: 78px;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text span {
  font-family: "Miama", sans-serif;
  font-style: italic;
}

.hero-text p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: 1px solid #ff0000;
  border-radius: 42px;
  text-align: center;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  padding: 10px 20px;
  margin-right: 10px;
  color: #ffffff;
  border: 1px solid;
  border-radius: 42px;
  text-align: center;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.hero-image {
  width: 30%;
  position: relative;
}

.hero-image img {
  width: 100%;
}

.card-1 {
  position: absolute;
  bottom: 10%;
  transform: translate(-50%);
  padding: 20px 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  background: rgba(48, 48, 48, 0.54);
}
.card-2 {
  position: absolute;
  top: 30%;
  transform: translate(160%);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
}

.stat-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.stat-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.ball-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.ball {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ff0000;
}
.number {
  font-size: 24px;
  font-weight: 900;
}

.label {
  font-size: 16px;
  font-weight: 400;
}

/* Section 1 Change Habit styling */
.change-habits {
  background-color: black;
  color: white;
  padding: 50px 0;
  margin-bottom: 100px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 15px;
}

.container h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.container p {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 40px;
}

.habits-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.habit-card {
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.habit-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.habit-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.habit-card p {
  font-size: 1rem;
  line-height: 1.5;
}

/* Section 2 Running styling */
.extra-mile {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  color: #ffffff;
  margin-bottom: 100px;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}

.extra-mile-container {
  margin: 40px 0px 40px 0px;
}
.extra-mile h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
}

.extra-mile p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  max-width: 400px;
  text-align: left;
}

.extra-mile .btn-primary {
  width: 45%;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #ff0000;
  color: #ffffff;
  border: 1px solid #ff0000;
  border-radius: 42px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.extra-mile-image {
  width: 400px;
  height: 280px;
  border-radius: 5px;
}

.extra-mile-image img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
  margin-left: 8rem;
}

/* Section 3 Training styling */
.trainings {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.trainings img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: brightness(60%);
  border-radius: 16px;
}
.training-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.training-content {
  max-width: 573px;
}
.training-content h2 {
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
}
.training-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
}

.row-1,
.row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.row-1 {
  grid-template-columns: 1fr, 2fr, 1fr;
  margin-bottom: 1rem;
}
.row-2 {
  grid-template-columns: 1.5fr, 1fr, 1.5fr;
}

.training-card-1 {
  position: relative;
}

.training-card-1 p {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-300%, 320%);
  font-size: 1.2rem;
  color: #ffffff;
}
.training-card-2 {
  position: relative;
}
.training-card-2 p {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-300%, -400%);
  font-size: 1.2rem;
  color: #ffffff;
}
.training-card-3 {
  position: relative;
}
.training-card-3 p {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-350%, 300%);
  font-size: 1.2rem;
  color: #ffffff;
}
.training-card-4 {
  position: relative;
}
.training-card-4 p {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(200%, -350%);
  font-size: 1.2rem;
  color: #ffffff;
}
.training-card-5 {
  position: relative;
}
.training-card-5 p {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-350%, 300%);
  font-size: 1.2rem;
  color: #ffffff;
}
.training-card-6 {
  position: relative;
}
.training-card-6 p {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-250%, 280%);
  font-size: 1.2rem;
  color: #ffffff;
}

/* BMI Calculator Section Styles */
.bmi-calculator {
  width: 100%;
}
.bmi-container {
  background: rgb(34, 34, 34);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 52px 187px;
  text-align: center;
}

.bmi-head {
  width: 45%;
  margin: 0 auto;
  margin-bottom: 88px;
}
.bmi-head h2 {
  text-align: left;
  font-size: 48px;
  font-weight: 900;
}
.bmi-head p {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

h3 {
  margin-top: 0;
}

p {
  color: #a0a0a0;
  font-size: 1rem;
  margin-bottom: 20px;
}

.bmi-calculator-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  width: 90%;
  margin: 0 auto;
}

/* BMI Chart Styling */
.bmi-chart {
  width: 35%;
  padding: 20px;
  border-radius: 10px;
}
.bmi-chart h3 {
  font-size: 28px;
  font-weight: 900;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th {
  padding: 10px 20px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
td {
  padding: 10px 20px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
}

/* BMI Form Styling */
.bmi-form-container {
  width: 45%;
}

.bmi-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-radius: 10px;
}
.form-alignment {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
}

.bmi-form-container h3 {
  font-size: 28px;
  font-weight: 900;
  text-align: left;
  margin-bottom: 14px;
}

.bmi-form-container p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 34px;
}
#sex{
  color: rgba(255, 255, 255, 0.3);
}
.Select-activity {
  width: 100%;
  grid-column: span 2;
  color: rgba(255, 255, 255, 0.3);
}

input[type="number"],
select {
  color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border: 1px solid #383838;
  border-radius: 5px;
  background-color: #383838;
  font-size: 16px;
  font-weight: 400;
}

input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: #ff5722;
}

.btn {
  border-radius: 42px;
  background: rgb(230, 83, 60);
  color: #fff;
  border: none;
  padding: 16px 40px;
  margin-top: 34px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #f44336;
}

/* Team Section Styles */
.team {
  padding: 80px 0;
  color: #ffffff;
  text-align: center;
}

.team .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.team h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.team p {
  font-size: 0.8rem;
  margin-bottom: 40px;
}

.team-grid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 40px;
  padding: 40px;
  text-align: center;
  background-color: #222222;
  border-radius: 18px;
}

.team-member {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 0;
}

.team-member img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  opacity: 0.5;
  border-radius: 18px;
}

.team-member h3,
.team-member p {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  padding: 10px;
  margin: 0;
}

.team-member h3 {
  bottom: 20%;
  font-size: 1.25rem;
  border-radius: 5px;
}

.team-member p {
  bottom: 10%;
  font-size: 1rem;
  border-radius: 5px;
}

/* Testimonial Styling */
.testimonial {
  padding: 80px 0;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(30%, 1fr));
  gap: 30px;
  margin-top: 30px;
  align-items: center;
  text-align: center;
}

.testimonial-member {
  background-color: #222;
  padding: 30px 20px;
  border-radius: 18px;
  text-align: center;
}

.testimonial-member img {
  width: 90%;
  height: 350px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 15px;
}
/* Footer styling */
footer {
  padding: 66px 0px 10px 0px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-section {
  width: 35%;
  text-align: left;
  padding-right: 20px;
}

.logo-section h3 {
  color: rgb(230, 83, 60);
  font-size: 4.37rem;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 20px;
}

.logo-section p {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.footer-links h4 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 400;
}

.footer-links ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #ff0000;
}

footer hr {
  border: none;
  height: 1px;
  width: 90%;
  margin: 0 auto;
  background: #444444;
  margin-top: 79px;
  margin-bottom: 36px;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
}

/* Media queries for responsiveness */

/* Small devices (up to 576px) */

@media screen and (max-width: 576px) {
  body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
  }
  /* Header styling */
  .header {
    padding: 10px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu a {
    display: block;
  }
  nav ul {
    flex-direction: column;
    gap: 20px;
    display: none;
  }
  .mobile-menu {
    display: block;
  }
  .mobile-menu i {
    font-size: 1.5rem;
  }
  nav ul li a {
    font-size: 1rem;
  }

  /* Hero section styling */
  .hero-section {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .hero-text {
    width: 100%;
    padding-right: 0;
  }
  .hero-text h1 {
    font-size: 48px;
  }
  .hero-image {
    width: 100%;
    position: relative;
  }
  .card-1 {
    position: absolute;
    top: 75%;
    left: 0%;
    transform: none;
    padding: 10px;
  }
  .card-2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: none;
    padding: 8px;
  }

  /* Section 1 Change Habit styling */
  .change-habits {
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
  }
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .habits-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Section 2 Running styling */
  .extra-mile {
    flex-direction: column;
    margin: 0px auto;
    padding: 20px;
  }
  .extra-mile-container {
    margin: 20px 0;
  }
  .extra-mile h2 {
    font-size: 2rem;
  }
  .extra-mile p {
    font-size: 0.8rem;
  }
  .extra-mile .btn-primary {
    width: 100%;
    padding: 10px 20px;
  }
  .extra-mile-image img {
    margin-left: 0px;
  }
  .extra-mile-image {
    width: 100%;
    height: 250px;
  }

  /* Section 3 Training styling */
  .trainings {
    padding: 20px 0;
  }
  .training-container {
    flex-direction: column;
    align-items: center;
  }
  .training-content {
    max-width: 100%;
  }
  .training-content h2 {
    font-size: 2rem;
  }
  .training-content p {
    font-size: 0.8rem;
  }
  .row-1,
  .row-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  /* BMI Calculator Section Styles */
  .bmi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .bmi-head {
    width: 60%;
    margin: 5%;
  }
  .bmi-head h2 {
    font-size: 2rem;
  }
  .bmi-head p {
    font-size: 0.8rem;
  }
  .bmi-calculator-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .bmi-chart {
    width: 100%;
    text-align: left;
    padding: 0px;
    margin: 20px 0px;
  }
  .bmi-form-container {
    width: 100%;
  }
  .form-alignment {
    margin-bottom: 2rem;
  }
  .bmi-form {
    grid-template-columns: repeat(2, 170px);
  }
  .Select-activity {
    grid-column: span 2;
  }

  /* Team Section Styles */
  .team {
    padding: 20px 10px;
  }
  .team-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* Testimonial Styling */
  .testimonial {
    padding: 20px 10px;
  }
  .testimonial-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Footer Styling */
  .footer-container {
    margin: 2rem 1rem;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .logo-section,
  .footer-links {
    width: 100%;
    text-align: left;
    margin: 0 0 2rem 0;
  }

  .logo-section h3 {
    font-size: 2.5rem;
  }

  .footer-links h4 {
    font-size: 1.5rem;
  }

  .footer-ul {
    font-size: 1rem;
  }
}
